/Bucles/JavaApplication4/nbproject/private/
/Bucles/JavaApplication4/build/
/Bucles/EjerciciosForDoWhile/nbproject/private/
/Bucles/EjercicioFactura/nbproject/private/
/POO/Operaciones/dist/
/Bucles/PooPersona/nbproject/private/
/Bucles/PooPersona/build/
/POO/Poo_ModificadoresAcceso/nbproject/private/
/POO/Encapsulamiento_MetodosAccesores/nbproject/private/
/POO/Encapsulamiento_MetodosAccesores/build/
/POO/Encapsulamiento_practica/nbproject/private/
/POO/Encapsulamiento_practica/build/
/POO/Ejercicio1/nbproject/private/
/POO/Ejercicio1/build/
